# dependencies
/onchain/node_modules
onchain/.pnp
onchain/.pnp.js

# testing
onchain/coverage

# next.js
onchain/.next/
onchain/out/

# production
onchain/build

# misc
.DS_Store
*.pem

# debug
onchain/npm-debug.log*
onchain/yarn-debug.log*
onchain/yarn-error.log*

# local env files
onchain/.env*.local

# vercel
onchain/.vercel

# typescript
onchain/*.tsbuildinfo
onchain/next-env.d.ts

onchain/.env
